<div class="mainPage1">
  <div class="leftPage1">
    <img src="assets/3.jpg" style="margin-left: 20px; margin-top: 30px; width: 70%">
  </div>

  <div class="rightPage1">
    <p><span>Итак, начнем. Чтобы стать Моим рабом сначала нужно предоставить мне информацию о себе. У тебя ведь не может быть секретов от меня, свин?)
      Т.к. обычно раб стесняется рассказать о своих фантазиях и/или опасениях, то лучше ответить на вопросы здесь.
      Даже может в чем-то себе признаться, поэтому отвечать нужно максимально честно.
      На следующей странице нужно заполнить анкету, а также я собрала разные действия в БДСМ (и между ними несколько моих вопросов).
      Укажи свое отношение к каждому пункту опросника балами от 0 до 5 (от не гравится - до до очень нравится).
      Также в конце анкеты ты должен заполнить 3 свои фантазии, которые хотел бы реализовать. </span></p>

    <p>P.S. К каждому вопросу можно добавить коментарий, если захочешь что-то уточнить</p>

    <button mat-raised-button color="accent" id="continue-button" (click)="goToPage2()">
      Слушаюсь, Госпожа
    </button>
  </div>



</div>


